<html>
  <head>
    <meta charset="utf-8" />
    <title>Resume</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@unocss/reset/tailwind.min.css"
    />
    <style>
      {{{css}}}
    </style>
  </head>
  <body>
    <script src="https://deno.land/x/refresh@1.0.0/client.js"></script>
    {{{body}}}
  </body>
</html>