body {
  width: 210mm;
  height: 297mm;
  padding: 12.7mm 12.7mm 17.018mm 15.24mm;
  @apply my-2 mx-auto border border-stone-300;
}

@media print {
  body {
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    border: none;
  }
}
